FORMAT: 1A
HOST: https://api.homecredit.cz

# Home Credit - Partner API - CASH and LIABILITY - Future
API documentation for Home Credit API for partners (next release documentation).

Version of documentation: 3.1.1 (08/2023)

| Version        | Release | Release date | News |
| ---            | ---     | ---          | ---  |
| 3.1.1 (08/2023) | CS108    | 29.8.2023  | New version of API |


## Getting started
This online document describes Home Credit (HC) API for partners - the means for partners through which they can offer their customers the benefits of one of Home Credit's payment methods or products.

Described services aim to allow customers the smooth running through the process of a loan arrangement. The services that allow achieving this goal are divided into the following groups:

| Group of services                                           | Purpose                                                                                                                                                      |
| ---                                                         | ---                                                                                                                                                          |
| [Security](#reference/security)                             | Security rules and principles                                                                                                                                |
| [Application resources](#reference/application-resources)   | Resources that allows the processing of *application* during its whole life cycle                                                                                |
| [Scoring resources](#reference/scoring-resources)           | Resources that allows customer preliminary scoring   |
| [Calculation resources](#reference/calculation-resources)   | Product calcualation resources |
| [Merchantsite resources](#reference/merchantsite-resources) | Services that should be developed and exposed by partners to allow HC asynchronously inform them about important changes regarding particular *application* |

### Basic implementation
The basic and minimum way how to implement HCO API is to at least implement:
1. [Login](#reference/security/login-partner)
    - Partner must be authorized to be able to access the most resources
1. [Create application](#reference/application-resources/create-application)
    - Partner calls this resource to start the loan approval process by creating an `application`. `Application` itself and its ID are essential for successful process completion.
1. Redirect handlers.
    - Special URLs for customers that shows payment success or rejection (more info [here](/#introduction/getting-started/parameters-added-to-return-urls)).
1. [Application process result](#reference/application-resources/process-result-of-single-application)
    - Partner uses this group of resources to actively track results of partner's applications.

<!-- diagram minimální implementace -->

<!-- stavový diagram žádosti / objednávky -->

It is necessary to fill in all attributes marked as 'required' in the request. Filling optional parameters will result in a better application approval rate. Partner should always consider filling as many attributes as possible.

### Parameters added to return URLs
During redirection of the customer from Home Credit's front-end application back to partner's website (to one of the provided URLs - `approvedRedirectUrl`, `rejectedRedirectUrl`) there are added some potentially useful information about a customer's outcome in Home Credit's application process:
- `applicationId` (string) - application identifier
- `applicationStatus` (enum) – Application status
- `cashStatus` (enum) - Cash loan status
- `withdrawal` (boolean) – True when the customer's purchase is financed directly from his already existing revolving loan; false when a new contract is being created (if available)
- `checkSum` (string) – hashed message

- e.g. `http://partnereshop.cz?&applicationId=123e4567-e89b-12d3-a456-426655440000&applicationStatus=CONFIRMED&cashStatus=PAID&checkSum=443E150D3406F6A8DC62C1DB224AFDD84FA9907071BB1AD9B2C7701031793662191501B26AADF3A31361341EA176C80B23D8A9A5E5B5219538289945FE0C20A7`

> **IMPORTANT NOTE:** Resource calls made from **Slovakia** MUST use appropriate dedicated `.sk` endpoints. E.g. `https://api.homecredit.sk/financing/v3/applications`


## Documentation principles
- attributes in request/response object are optional unless stated otherwise (`required` flag under attribute name)
- a required attribute in an optional object means, that if an optional object is specified, it must contain the required attribute.
- all values in request/response attributes are just examples, except for enum values - these are the only possible values for the given attribute.
- documentation adheres to [semantic versioning](https://semver.org/spec/v2.0.0.html), which makes a distinction between *major*, *minor*, and *patch* versions.

### Naming conventions
- we use camelCase for all object and attribute names
- we use CAPITAL_UNDERSCORE for enum values
- we use plural in resource names


### Key words used in this document (RFC 2119)

The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT", "SHOULD", "SHOULD NOT", "RECOMMENDED",  "MAY", and "OPTIONAL" in this document are to be interpreted as described in [RFC 2119](https://www.ietf.org/rfc/rfc2119.txt).

## Home Credit REST API principles

### Request restrictions
Please, keep in mind following restrictions regarding requests:
- Maximum request size is **10 MB**.
- Maximum size of accepted single file is **500 kB**.
- Here is the list of supported files:

| MIME type                                                                 | Example(s)                 |
| ---                                                                       | ---                        |
| application/pdf                                                           | *.pdf                      |
| application/vnd.openxmlformats-officedocument.spreadsheetml.sheet         | *.xlsx                     |
| application/vnd.openxmlformats-officedocument.wordprocessingml.document   | *.docx                     |
| application/vnd.openxmlformats-officedocument.presentationml.presentation | *.pptx                     |
| application/vnd.ms-excel                                                  | *.xls, *.xlt, *.xla        |
| application/msword                                                        | *.doc, *.dot               |
| application/vnd.ms-powerpoint                                             | *.ppt, *.pot, *.pps, *.ppa |
| plain/text                                                                | *.csv, *.txt               |
| image/jpeg                                                                | *.jpg, *.jpeg              |
| image/png                                                                 | *.png                      |
| image/gif                                                                 | *.gif                      |


### API calls limits
When partner reaches API calls limit (partner calls the API more times than is partner's quota), he receives HTTP error 429. To inform partner about limits we use following response headers:
- `X-Rate-Limit-Limit` - The number of allowed requests in the current period
- `X-Rate-Limit-Remaining` - The number of remaining requests in the current period
- `X-Rate-Limit-Reset` - The number of seconds left in the current period

### Versioning
We use API version in URL (e.g. `https://api.homecredit.cz/financing/v2/applications`). *Minor* changes and *patches* (see below) that don't break backwards compatibility do NOT increase API version, e.g. they MAY happen without prior notice and your application should be ready to handle them.

*Minor* changes include:
- adding new resource
- adding new optional header/URL parameter or optional body attribute to request
- adding new attribute to response body
- adding new error codes and messages, provided that error structure is the same

### Response encoding
Unless stated otherwise, all responses are sent as `Content-Type: application/json; charset=utf-8`

### HTTP status codes
We use following status codes throughout the API, except for OAuth flow when response codes are prescribed in RFC
- 200 `OK` - request was successful
- 201 `Created` - request was successful and resource was created
- 202 `Accepted` - request has been accepted for processing, but the processing has not been completed
- 204 `No Content` - we accepted partner's request but there is nothing to return (e.g. response is empty)
- 400 `Bad Request` - syntax error, e.g. request is missing required parameters/attributes or parameter values are of incorrect type
- 401 `Unauthorized` - partner is not authorized
- 403 `Forbidden` - access denied (e.g. user / application is not allowed to use the resource)
- 404 `Not Found` - resource could not be found
- 405 `Method Not Allowed` - specified method is not allowed for resource
- 422 `Unprocessable Entity` -  business (semantic) errors. Request is well-formed, but cannot be processed (e.g. payment due date is in past). Errors are specified in response body (see below)
- 429 `Too Many Requests` - partner exceeded the rate limit (see section [API calls limit](#introduction/api-calls-limits) above)
- 500 `Internal Server Error` - something went wrong on our side
- 503 `Service Unavailable` - there is planned service outage

### Error handling
Besides HTTP status codes, which are the main indication if something goes wrong, we also use `errors` object to report more details about errors.

Errors object example:
```javascript
{
    ...

    errors: [
        {
            "code": "ERR_100",
            "message": "Invalid contract number",
            "severity": "ERROR",
            "attribute": "partyAccount.accountNumber",          // optional
            "ticketId": "UAT1:AMS:20160516-091658.450:45e4" // optional
        },
        {
            "code": 352,
            "message": "Insufficiend funds for payment order realization",
            "severity": "WARN"
        },
        {
            "code": 523,
            "message": "This order will trigger currency exchange operation",
            "severity": "INFO"
        }
    ]
}
```

Error object attributes
| Attribute name | Description                                                     |
| ---            | ---                                                             |
| code           | unique error code                                               |
| message        | human readable error description (non-localized)                |
| severity       | error severity (see below)                   |
| attribute      | json path of request attribute that caused the error (optional) |
| ticketId       | internal ticket ID, used for error backtracking                 |

There are 3 levels of error severity:
- `ERROR` - critical error, execution cannot continue. This MUST be indicated also by appropriate HTTP status code (e.g. `422 Unprocessable Entity`)
- `WARN` - non-critical error, execution can continue but further user interaction is advisable (for request to proceed, partner MUST specify this error code in `override` request attribute). This MIGHT be indicated also by appropriate HTTP status code.
- `INFO` - information only, execution can continue without user interaction.

#### Errors overview
| Status code | Code                  | Explanation                                                                     | Message                                                                                                        |
| ---         | ---                   | ---                                                                             | ---                                                                                                            |
| 400         | INVALID_REQUEST       | Request was not well formatted (malformed request syntax, size too large, etc.) | (*Various messages possible*) e.g. Unsupported combination of application and financed subject status                 |
| 404         | OBJECT_NOT_FOUND      | The requested resource could not be found                                       | (*Various messages possible*) e.g. Specified object was not found                                              |
| 422         | NOT_ALLOWED           | Operation is not allowed (internal reason)                                      | (*Various messages possible*) e.g. Not allowed (other reason)                                                    |
| 500         | INTERNAL_SERVER_ERROR | Unexpected condition was encountered and no more specific message is suitable   | (*Various messages possible*) e.g. Failed to parse given JSON                                                  |

### Formats
- **date** and **time** uses [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) formatting, e.g.:
  - date is represented as `YYYY-mm-dd`. Timezone (local) is added when necessary.
  - time is represented as `Thh:mm:ss`. Timezone is added when necessary. Time with arbitrary number of digits respresenting miliseconds is also accepted (when [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format criteria is met) but the time without miliseconds is always returned.
  - day of week is represented as number 1..7, with 1 being Monday
  - week no. 1 is the week with the year's first Thursday in it
- **phone numbers** uses international format starting with '+' and including country code (example of valid number: `+420739111222`)
- **numbers format** number format is defined by [JSON standard](http://www.json.org), e.g. decimals are separated by `.`
- **money format** uses [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) formatting (in minor units, e.g.: 12590 in minor units represents 125,90 CZK/EUR)

<!--
## Partial update
We support partial update using PATCH method. Use JSON Merge Patch according to [RFC-7386](https://tools.ietf.org/html/rfc7386).
-->


# Group Security
To access our API, partner has to obtain *access token* first; this token is a string of arbitrary length (30+ chars) and it has to be included in HTTP header to every request to API. This section describes way to obtain valid access token and use it to access protected resources.

- to obtain access token, use `/authentication/v1/partner` resource with appropriate parameters (see the [`/authentication/v1/partner` resource documentation](#reference/security/login-partner))

- access token should be present in every request using request header `Authorization`, with type `Bearer`. If partner's access token has value `secret_token`, it should be specified as follows:

`Authorization: Bearer secret_token`

So the real example using curl will look like:

```
curl -H "Authorization: Bearer secret_token" https://api.homecredit.cz/financing/v2/applications
```

- access token has limited time validity (for 2 hours). After it is expired, partner has to obtain new one using `/authentication/v1/partner` resource.

- if partner fails to specify access token, he will receive `401 Unauthorized` error and following response body:

```
{
   "error_description": "The access token is missing",
   "error": "invalid_request"
}
```

- if partner provides invalid access token, he will receive `401 Unauthorized` error and following response body:

```
{
    "error_description":"The access token is invalid or has expired",
    "error":"invalid_token"
}
```

> IMPORTANT NOTE: Partner must keep his access token and login credentials safe. Login credentials nor access token should NEVER be put into client page. If partner plans to integrate API calls in client flow without submitting the page to server, partner should implement REST endpoint bound to partner's shopping basket session, that will be used as a proxy to call HC API.

> NEVER transfer access token nor login credentials over plain HTTP. Such requests will be refused.

## Login partner [/authentication/v1/partner]

### Login partner [POST]
Partner authenticate himself and obtain acces token

+ Request (application/json; charset=utf-8)
    + Attributes (PartnerLogin)


+ Response 200(application/json; charset=utf-8)

        Partner acces token issued

    + Attributes (PartnerLoginResult)


+ Response 400(application/json; charset=utf-8)

        Unable to authenticate partner

    + Attributes (Errors)


# Group Application resources
Services that allow the processing of *application* during its whole lifecycle.

## Create application [/financing/v3/applications]
The elementary flow starts when the customer is interested in some of Home Credit's product.

Use `/financing/v3/applications` resource with the properly filled request that contains at least the following data
- Type of customer MUST be defined
- Customer's personal data (MAY be ommited for `ONLINE` process - see below)
- The financed subject of the application (cash or liability)
- Context information necessary for the continuation and completion of the process
  - Channel type (`ONLINE` or `PHONE`)
  - Channel data

There are two options for completing customer's application: online or over the phone. During online completion process (channel type `ONLINE`) the customer fills out the entire application himself, selects the product he is interested in and then signs the contract online. During process over the phone (channel type `PHONE`), the customer waits for a Home Credit operator to call him and guide him through the same process without the need to be online.

> **IMPORTANT NOTE:** `PHONE` process of completion is different from `ONLINE` in terms of the customer's personal data. "PHONE" process is allowed only for customer type `PERSON`. For `PHONE` process partner MUST provide following personal data and they MUST be valid: `firstName`, `lastName`, `email`, `phone`, `identificationNumber`. Validation rules for `ONLINE` process are more flexible therefore it is possible to create application even without any personal data at all. You will find specifications of validations in particular attributes' description.

If the request was successfully processed, partner receives HTTP status code 201 and `Application` object with at least the following information in the response:
- Application unique ID
- Application status

Before new application is created system checks if the application is not **duplicate**. Application is considered duplicate if the request contains `ApplicationRequest.customer.identificationNumber` and application with the same identification number and financed subject already exists. If the request is considered **duplicate** following will happen:
  - if the previous `Application` is canceled (`Application.status = CANCELLED`), the new `Application` is created and partner receives new `applicationId`. Response HTTP status code is 201
  - if previous `Application` was just created (i.e. without any recorded action by the customer), new `Application` is not created, partner receives `applicationId` of previously created application. Response HTTP status code is 200 ("double-click protection")
  - if previous `Application` is already in the application process, partner receives HTTP status code 422 with error code `DUPLICATE_APPLICATION`



In case of an error, partner receives one of the following results:
| Status code | Code                   | Explanation                                                                     |
| ---         | ---                    | ---                                                                             |
| 400         | INVALID_REQUEST        | Request was not well-formatted (malformed request syntax, size too large, etc.) |
| 422         | UNPROCESSABLE          | Request was well-formed but was unable to be followed due to semantic errors    |
| 422         | DUPLICATE_APPLICATION | Creating of Application with duplicated Order number is not allowed             |
| 500         | INTERNAL_SERVER_ERROR  | Unexpected condition was encountered and no more specific message is suitable   |



### Create application [POST]
Create a new *application*

+ Request Example_VALID_REQUEST (application/json;charset=UTF-8)
    + Attributes (ApplicationRequest)

+ Response 201(application/json;charset=UTF-8)

        Application was created

    + Attributes (ApplicationBase)


+ Request Example_REPEATED_VALID_REQUEST (application/json;charset=UTF-8)
    + Attributes (ApplicationRequest)

+ Response 200(application/json;charset=UTF-8)

        Application was created in the past (nothing changed)

    + Attributes (ApplicationBase)


+ Request Example_BAD_REQUEST (application/json;charset=UTF-8)
    + Attributes (ApplicationRequest)
        + `financedSubject` (FinancedSubjectBase)
            + `type`: `INVALID_TYPE` (enum, required) - Type of financed subject

+ Response 400(application/json;charset=UTF-8)

        There was an error processing request - invalid financedSubject.type

    + Attributes (Errors)


# Group Calculation resources

## Financing offers [/financing/v3/products/offers]
Partner uses this resource to calculate the appropriate product. To perform the calculation, it is necessary to provide at least the following data:
- type of customer
- the amount the customer wants to borrow
- financed subject
- method of financing

The partner may choose product set from which the products will be calculated. If none is provided, the default product set for the selected financing method is used.
If the customer has already chosen the product or the amount of the installment that he would like to repay, he can also state that in reqeust.

The response returns a collection of products that meet the input, for each product returns the amount of the credit amount, a set of financial parameters (minimum installment, interest rate, etc.) and for variable products several examples of repayment with different installments.

One product is labeled as favourite product which is the most suitable for the customer.

Possible error codes explanation:
| Status code | Code                | Explanation                                                                     |
| ---         | ---                 | ---                                                                             |
| 400         | INVALID_REQUEST     | Request was not well formatted (malformed request syntax, size too large, etc.) |
| 500         | FAILURE             | Internal failure                                                                |

### Calculate offers [POST]

+ Request Valid (application/json;charset=UTF-8)
  + Attributes (CalculateOffersRequest)

+ Response 200 (application/json;charset=UTF-8)
calculateOffers
  + Attributes (array[CalculateOffersResponse])


+ Response 400(application/json;charset=UTF-8)
            Error in processing request
    + Attributes (Errors)



# Data Structures

## ApplicationRequest(object)
+ customer (FinancingApplicationCustomer, required) - Customer data. If known, customer data MAY be included for a smoother approval process for defined type of customer. This specification of type of customer is REQUIRED.
+ originationContext (FinancingOriginationContext, required) - Additional information about the context of financing application origination (e.g. redirect URL back to partner site)
+ financedSubject (FinancedSubjectBase, required) - Subject of financing (for example IPhone purchase, loan for 20 000 CZK ...)

## FinancingApplicationCustomerBase(object)
+ type (enum, required) - Customer type
  + `PERSON` - Borrower that wants to use loan for individual purpose
  + `ENTREPRENEUR` - Person who organizes, operates and assumes the risk of a business venture and wants to use loan for his business
  + `LEGAL_ENTITY` - Company, or organization that has legal rights and obligations

## FinancingApplicationCustomer(FinancingApplicationCustomerBase)
+ person (FinancingPerson, optional) - Customer data for type person that can be used for a smoother approval process. REQUIRED for `PERSON` Customer type.
+ entrepreneur (Company, optional) - Customer data for type enterpreneur that can be used for a smoother approval process. REQUIRED for `ENTREPRENEUR` Customer type.
+ legalEntity (Company, optional) - Customer data for type legalEntity that can be used for a smoother approval process. REQUIRED for `LEGAL_ENTITY` Customer type.

## FinancingPerson (object)
+ `firstName`: `John` (string, optional) -  Customer first (given) name. Name SHOULD follow regular expression `^[A-ZÁ-Ž]'?[- \u00A0a-zA-Zá-žÁ-Ž]*[a-zA-Zá-žÁ-Ž]$`, SHOULD be 2 to 30 characters long and characters SHOULD be in the `ISO 8859-2` character set.
+ `lastName`: `Newborn` (string, optional) - Customer last (family) name. Name SHOULD follow regular expression `^[A-ZÁ-Ž]'?[- \u00A0a-zA-Zá-žÁ-Ž]*[a-zA-Zá-žÁ-Ž]$`,SHOULD be 2 to 30 characters long and characters SHOULD be in the `ISO 8859-2` character set.
+ `fullName`: `Ing. John Newborn, Csc.` (string, optional) - Customer full name, including academical degrees and salutation. Attribute `fullName` is parsed (and eventually shortened) into `firstName` and `lastName`; `fullName` is never returned in response. In case all three attributes are provided, `fullName` is discarded. Full name SHOULD be no longer than 100 characters and characters SHOULD be in the `ISO 8859-2` character set
+ contacts (array[ApplicationContact], optional) - Contacts of person.
+ `addresses` (array[Address], fixed-type, optional) - Addresses.
+ identificationNumber: `890619/5723` (string, optional) - Customer's identification number (actually birth number). SHOULD be valid according to the legislation currently in effect. Customer MUST be at least 18 years old.
+ ipAddress: `172.10.10.1` (string, optional) - IPv4 or IPv6 address of a customer.
+ fingerprintComponents (KeyValue, optional) - Fingerprints components.


## Address(object)
+ `city`: `Prague` (string, optional) - City. String values longer than 100 characters will be shortened to 100 characters.
+ `streetAddress`: `Letenská` (string, optional) - Street/city part. String values longer than 100 characters will be shortened to 100 characters.
+ `streetNumber`: `22` (string, optional) - Street number. String values longer than 50 characters will be shortened to 50 characters.
+ `zip`: `140 00` (string, optional) - Postal code. String values longer than 10 characters will be shortened to 10 characters.
+ `flags` (array[AddressFlag], fixed-type,  optional) - Types of the address.

## AddressFlag(enum)
+ `PERMANENT` - Permanent residential address
+ `CONTACT` - Contact address

## ApplicationContact(object)
+ type (enum, required) - Contact type
  + `EMAIL` - Email.
  + `MOBILE` - Mobile phone.
  + `PHONE` - Landline phone.
+ email (Email, optional) - Email address of customer. REQUIRED for `EMAIL` Contact type.
+ mobile (Phone, optional) - Number of customer's mobile phone. REQUIRED for `MOBILE_PHONE` Contact type.
+ phone (Phone, optional) - Number of customer's landline phone. REQUIRED for `PHONE` Contact type.

## Email(object)
+ `value`: `john.newborn@country.com` (string, required) - E-mail address of customer. MUST be valid email according to [RFC 2822](https://tools.ietf.org/html/rfc2822).

## Phone(object)
+ `countryCode`: `+420` (string, optional) - MUST be valid countryCode.
+ `value`: `777123456` (string, required) - Mobile phone number SHOULD be 9 characters long. The mobile phone number itself without country code SHOULD begin with digit `6` or `7` (for CZ) or with `9x` where `x` is different from `6` (for SK).

## Company (object)
+ `businessName`: `Planeta s.r.o.` (string, optional) - Name of business company.
+ `addresses` (array[Address], fixed-type, optional) - Addresses.
+ 'businessIdentificationNumber': `123456854` (string, optional) - Company's identification number (known as IČO).
+ ipAddress: `172.10.10.1` (string, optional) - IPv4 or IPv6 address of a customer.
+ fingerprintComponents (KeyValue, optional) - Fingerprints components.

## FinancedSubjectBase(object)
+ type (enum, required) - Financed subject type
  + `CASH` - Loan without any specific purpose
  + `LIABILITY` - Specific loan used for consolidation of customer's loans and liabilities
+ cash (CashBase, optional) - Information about customer's financial requirements. REQUIRED for `CASH` type of Financed subject.
+ liability (LiabilityBase, optional) - Information about customer's financial requirements. REQUIRED for `LIABILITY` type of Financed subject.


## CashBase(object)
+ amount (Amount, optional) - Preferred amount customer's want to borrow. MAY be provided, if not provided, the default amount would be offered.
+ financing (CashFinancing, required) - Information about the form of financing `CASH` application (for example Close-end Loan, Revolving Loan, etc.).

## CashFinancing(object)
+ type (enum, required) - Financing type suitable for `CASH` application.
    + `LOAN_WALLET` - Revolving loan used specifically for lending money (usually not suitable for shopping purposes).
+ loanWallet (SettingsLoanWallet,  required) - Settings for `LOAN_WALLET` Financing type. REQUIRED for `LOAN_WALLET` financing type

## SettingsLoanWallet(object)
+ preferredInstallment (Amount,  optional) - Preferred installment amount customer would like to pay in monthly installment to pay his loan (amount should be rounded to hundreds CZK/ 5 EUR).
OPTIONAL, if not provided, a minimum installment amount would be used.
+ productSetCode: `COCONL` (string, optional) - Product set code. If chosen product is not from default product set it is RECOMMENDED to provide code of its product set.  Invalid product set is discarded.
+ productCode: `COCONL06` (string,  optional) - Product code (obtained from calculation result).
SHOULD be valid in combination with attributes `cash.amount` and `preferredInstallment`. Invalid product is discarded and the customer will choose the correct product after redirection to Home Credit's front-end application; examples of invalid settings: the product does not exist or does not support the requested credit amount.


## LiabilityBase(object)
+ amount (Amount, optional) - Amount customer's need for consolidation of his liabilities. MAY be provided, if not provided, the default amount would be offered.
+ financing (LiabilityFinancing, required) - Information about the form of financing `LAIBILITY` application (for example Close-end Loan, Revolving Loan, etc.).

## LiabilityFinancing(object)
+ type (enum, required) - Financing type suitable for `LIABILITY` application.
    + `CONSOLIDATION` - Close-end loan used specifically for consolidation customer's loans.
+ consolidation (ConsolidationSettings,  required) - Settings for `CONSOLIDATION` Financing type. REQUIRED for `CONSOLIDATION` financing type

## ConsolidationSettings(object)
+ installment (Amount,  optional) - Installment amount for chosen product. It is RECOMMENDED to provide valid installment amount (from calculation resources)
+ productSetCode: `COCONL` (string, optional) - Product set code. If chosen product is not from default product set it is RECOMMENDED to provide code of its product set.  Invalid product set is discarded.
+ productCode: `COCONL06` (string,  optional) - Product code (obtained from calculation result).
SHOULD be valid in combination with attributes `liability.amount` and `installment`. Invalid product is discarded and the customer will choose the correct product after redirection to Home Credit's front-end application; examples of invalid settings: the product does not exist or does not fit with the installment amount.

## FinancingOriginationContext(object)
+ channel (OriginationChannel, required) - Origination channel
+ precheckIds (array[string], fixed-type, optional) - Array of all precheck ids related to this application. If partner has run Precheck operation with this Customer's data he SHOULD provide precheckId into this attribute. SHOULD be valid precheckId. See Precheck operations and their's response.
+ sourceId: `Cash_10_2020` (string, optional) - Identifier of source or campaign of lead origin. Partner SHOULD provide valid `sourceId`
+ extendedData (array[KeyValue], fixed-type, optional) - Additional data about application origin. List of supported `keys` for `extendedData`: `utm_source`, `utm_medium`, `utm_campaign`, `utm_term`, `utm_content`, `gclid`, `fbclid`, `url`.


## OriginationChannel(object)
+ type (enum, required) - Type of origination channel
    + `ONLINE` - Customer handles the whole application himself online (for example customer's purchase in eshop)
    + `PHONE` - Application process is settled by the customer and the operator over the phone
+ online (MerchantURLs,  optional) - Collection of partner's URLs used for redirection of a customer back to a partner website or as a notification endpoint. REQUIRED for `ONLINE` channel type
+ phone (PhoneSettings,  optional) - Additional data REQUIRED for `PHONE` channel type


## MerchantURLs(object)
+ approvedRedirect: `https://www.partnereshop.cz` (string, optional) - URL of the partner used for redirection of the customer back to partner website after the application approval. MUST be a valid URL according to [RFC 3986](https://tools.ietf.org/html/rfc3986). URL SHOULD contain scheme (for example `https://`) otherwise some browsers will not redirect customer correctly.  MUST NOT be longer than 1000 characters.
+ rejectedRedirect: `https://www.partnereshop.cz/kosik` (string, optional) - URL of the partner used for redirection of the customer back to partner website after application rejection. MUST be valid URL according to [RFC 3986](https://tools.ietf.org/html/rfc3986). URL SHOULD contain scheme (for example `https://`) otherwise some browsers will not redirect customer correctly. MUST NOT be longer than 1000 characters.
+ notificationEndpoint: `https://www.partnereshop.cz/order/AA234` (string, optional) - URL of the partner used as a notification endpoint for notifying partner about important updates in the application process (approval, rejection, cancellation, etc.). MUST be valid URL according to [RFC 3986](https://tools.ietf.org/html/rfc3986). URL SHOULD contain scheme (for example `https://`). MUST NOT be longer than 1000 characters.

## PhoneSettings(object)
+ callRequest (CallRequest, optional) - Specifying the request, when to call the customer
+ notificationEndpoint: `https://www.partnereshop.cz/order/AA234` (string, optional) - URL of the partner used as a notification endpoint for notifying partner about important updates in the application process (approval, rejection, cancellation, etc.). MUST be valid URL according to [RFC 3986](https://tools.ietf.org/html/rfc3986). URL SHOULD contain scheme (for example `https://`). MUST NOT be longer than 1000 characters.

## CallRequest(object)
+ type (enum, required)
    + `DATES` - The customer has specified the date (or dates) and time he wants the operator to call
+ dates (array[string], fixed-type, required) - The date (or dates) and time customer wants the operator to call

## ApplicationBase(object)
+ id: `123e4567-e89b-12d3-a456-426655440000` (string,  required) - Primary identifier of the application
+ status (enum, required) - Application status
    + `CREATED` - Application process has not started yet
    + `PRESCORED` - Preliminary approved
    + `APPROVED` - Application is approved, contract signature process is in progress
    + `VERIFICATION` - Manual review of application by Home Credit employee is in progress
    + `ALTERNATIVE` - Alternative offered to customer
    + `CONFIRMED` - Signed by customer, contract finalization by Home Credit employee is in progress
    + `REJECTED`
    + `CANCELLED`
+ workflowSteps (array[FinancingWorkflowStep], fixed-type, optional) - Collection of currently available application process actions.

## FinancingWorkflowStep(object)
+ code (enum, required) - Workflow code
    + `REDIRECT`
+ priority: 1 (number, required) - Identifier of workflow step's priority expressed as number (lowest number means highest priority)
+ mandatory: true (boolean, required) - Available workflow step for current application in application process.
+ redirect (RedirectURL, optional) - Data for workflow step `REDIRECT`

## RedirectURL(object)
+ gatewayRedirectUrl: `https://pujcka.homecredit.cz` (string,  required) - Gateway redirect URL. Partner SHOULD redirect the customer to this address for the continuation of the application approval process.


## CalculateOffersRequest (object)
+ customer (FinancingApplicationCustomerBase, required) - Customer data.
+ financedSubject (FinancedSubjectCalculateOffers, required) - Subject of financing

## FinancedSubjectCalculateOffers (object)
+ type (enum, required) - Financed subject type
  + `CASH` - Loan without any specific purpose
  + `LIABILITY` - Specific loan used for consolidation of customer's loans and liabilities
+ cash (CashCalculateOffers, required) - Information about customer's financial requirements. REQUIRED for `CASH` type of Financed subject.
+ liability (LiabilityCalculateOffers, required) - Information about customer's financial requirements. REQUIRED for `LIABILITY` type of Financed subject.

## CashCalculateOffers (object)
+ amount (Amount, optional) - Preferred amount customer wants to lend. MAY be provided; if not provided, the maximum possible amount would be offered to the customer.
+ financing (CashFinancing, required) - Information about form of financing `CASH` application (for example Close-end Loan, Revolving Loan, etc.).

## LiabilityCalculateOffers (object)
+ amount (Amount, optional) - Preferred amount customer wants to lend. MAY be provided; if not provided, the maximum possible amount would be offered to the customer.
+ financing (LiabilityFinancingCalculateOffers, required) - Information about form of financing `LIABILITY` application (for example Close-end Loan, Revolving Loan, etc.).

## LiabilityFinancingCalculateOffers(object)
+ type (enum, required) - Financing type suitable for `LIABILITY` application.
    + `CONSOLIDATION` - Close-end loan used specifically for consolidation customer's loans.
+ consolidation (SettingsConsolidationCalculateOffers,  required) - Settings for `CONSOLIDATION` Financing type. REQUIRED for `CONSOLIDATION` financing type

## SettingsConsolidationCalculateOffers(object)
+ productSetCode: `COCONL` (string, optional) - Product set code. If not provided, default product set is used.
+ productCode: `COCONL06` (string,  optional) - Product code

## CalculateOffersResponse (object)
+ type (enum, required) - Financing type suitable for CASH application.
    + `LOAN_WALLET` - Revolving loan used specifically for lending money (usually not suitable for shopping purposes).
    + `LIABILITY` - Specific loan used for consolidation of customer's loans and liabilities
+ loanWallet (LoanWalletOffer,  optional) - Settings for `LOAN_WALLET` Financing type. REQUIRED for `LOAN_WALLET` financing type
+ liability (ProductOffer, optional) - Information about customer's financial requirements. REQUIRED for `LIABILITY` type of Financed subject.

## ProductOffer (object)
+ productCode: `HCONLESHOP` (string, required) - Product offer code
+ creditAmount (AvailableCreditAmount, required) - Available credit amount of product offer
+ calculation (CalculationDetail, required) - Financial characteristics of product offer
+ flags (array[enum], fixed-type, optional) - Additional characteristics of product offer code
  + `FAVOURITE` - Favourite product, usually the first one to offer to customer

## LoanWalletOffer (ProductOffer)
+ repaymentExamples (array[RepaymentExample],fixed-type,optional) - Examples of debt repayement for flexible product with variable end (with various installments)

## AvailableCreditAmount (object)
+ type: `FIXED` (enum, required) - Credit amount can be fixed for particular amount or variable
  + `FIXED` - Fixed amount
  + `VARIABLE` - Variable amount
+ fixed (Amount, optional) - REQUIRED for `FIXED` type of credit amount
+ variable (VariableCreditAmount, optional) - REQUIRED for `VARIABLE` type of credit amount

## VariableCreditAmount (object)
+ minimum (Amount, required) - Minimal available credit amount
+ maximum (Amount, required) - Maximal available credit amount

## CalculationDetail (object)
+ installment (Amount, required) - Value of monthly installment. Approximated for product offers with variable end
+ annualInterestRate: 0.17 (number, required) - Annual interest rate
+ annualPercentageRate: 0.23 (string, required) - Annual percentage rate of loan (so-called "RPSN"/"RPMN")
+ numberOfInstallments: 12 (number, required) - Count of installments needed to repay purchased loan. Approximated for product offers with a variable end.
+ installmentFirstDate: `2021-03-20` (string, required) - Date of first installment.
+ installmentLastDate: `2022-02-20` (string, required) - Date of last installment. Approximated for product offers with a variable end.
+ predictedProvisionDate (string, required) - Predicted date of sending fund to customer's account
+ amountToPay (Amount, required) - Total amount will pay for the loan (including the costs)
+ installmentDay: 20 (number, required) - Day of installment
+ maturityTextForm: `3 roky a 8 měsíců` (string, required) - Text representation of maturity


+ legalLine: `Ilustrativní výpočet dle zákona: Výše úvěru 10 000 Kč, roční úroková sazba 14,88 %, RPSN 15,9 %, celkem zaplatíte 10 806 Kč. Jednotlivé po sobě jdoucí měsíční splátky: 957 Kč, 947 Kč, 937 Kč, 926 Kč, 916 Kč, 906 Kč, 895 Kč, 885 Kč, 875 Kč, 864 Kč, 854 Kč, 844 Kč. Splátky a částka, kterou celkem zaplatíte, jsou matematicky zaokrouhleny.` (string, required) - Legal example of repayment

## RepaymentExample(object)
+ installment (Amount, required) - Value of monthly installment.
+ numberOfInstallments: 12 (number, required) - Count of installments needed to repay purchased loan for chosen `installment` (approximated)
+ amountToPay (Amount, required) - Total amount customer will pay for the loan (including the costs) for chosen `installmemt` (approximated)
+ flags (array[enum], fixed-type, optional) - Additional characteristics of example repayment
  + `FAVOURITE` - Favourite example, usually the first one to offer to customer

## PrecheckRequest(object)
Precheck data.

### Properties
+ customer (FinancingApplicationCustomer, required) - Customer data
  + `firstName`: `John` (string, optional) -  Customer first (given) name. String values longer than 100 characters will be shortened to 100 characters. One of `firstName` and `fullName` is REQUIRED.
  + `lastName`: `Newborn` (string, optional) - Customer last (family) name. String values   longer than 100 characters will be shortened to 100 characters.  One of `lastName` and `fullName` is REQUIRED.
+ financedSubject (PrecheckFinancedSubject, required) - Subject of financing (for example IPhone purchase, loan for 20 000 CZK ...)

## PrecheckFinancedSubject(object)
+ type (enum, required) - Financed subject type
  + `CASH` - Loan without any specific purpose
  + `LIABILITY` - Specific loan used for consolidation of client's loans and liabilities


## PrecheckResult(object)
Precheck result.

### Properties
+ `id`: `1234` (string, optional) - Unique identifier of Precheck. Send this identificator in ApplicationRequest for a better approval rate. The Id is sometimes not provided (for example if precheck ends with a result `TIME_OUT`)
+ `recommendation`:`false`  (boolean, required) - A recommendation of whether the application should be created.
    true = Application is likely going to be approved.
    false = Application is likely going to be rejected.
+ `result`: `false`  (enum, required) - A detailed result of precheck.
    + `NEW_CONTRACT` - The client will likely create and sign a new contract
    + `EXISTING_CONTRACT` - The client will use an existing contract to finance his needs
    + `TIME_OUT` - Request for precheck operation have not ended at the requested time
    + `UNKNOWN` - Other reasons (for example provided client data are invalid)
+ `message`: `V HCO peněžence nemáte dostatečný limit.` (string, optional) - Custom message for customers.

## GetApplicationsResults(object)
List of all found applications.

### Properties
+ `applications` (array[ApplicationResult], fixed-type, optional) - List of applications results

## ApplicationResult(object)
Detail of result of the application approval process

### Properties
+ id: `123e4567-e89b-12d3-a456-426655440000` (string,  required) - Primary identifier of the application
+ `createdDate`: `2020-07-15T00:00:00+02:00` (string, required) - Date of creation of application
+ `finished`: `false`  (boolean, required) - A flag indicating whether the application has already been completed or is still in progress.
+ `result`: `SUCCESS` (enum, optional) - A detailed result of (only) finished application.
    + `SUCCESS` - Application was successfully approved
    + `REJECTED` - Application was rejected
    + `CANCELLED` - Application was cancelled


## NotificationRequest(object)
+ notificationContent (NotificationContent, required) - Content of the notification
+ sentDate: `2020-07-15T00:00:00+02:00` (string, required) - Time when notification was sent (uses [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) formatting)
+ checksum: `f61c69a259b702d564b2032e554984dec3b713ff7bdde17fcb727d403ea0d730816f46ad2bbc06a1914225d5dfba0396927dbf1b0698081814877b5486950a15` (string, required) - Message checksum - result of HMAC with SHA512 (secret key is used)

## NotificationContent(object)
+ applicationId: `123e4567-e89b-12d3-a456-426655440000` (string,  required) - Primary identifier of the application
+ applicationStatus: `APPROVED` (enum, required) - Status of the application
  + `CONFIRMED`
  + `CREATED`
  + `PRESCORED`
  + `APPROVED`
  + `VERIFICATION`
  + `ALTERNATIVE`
  + `REJECTED`
  + `CANCELLED`
+ cashStatus: `PROCESSING` (enum, optional) - Status of the Cash loan
  + `PROCESSING`
  + `CANCELLED`
  + `TO_PAY`
  + `PAID`
+ notificationDate: `2020-07-15T00:00:00+02:00` (string, required) - Time when notification was created (uses [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) formatting)
+ sequenceNumber: 1 (number, required) - Notification sequence number

## Error (object)
+ code: `BAD_REQUEST` (string, required) - Unique internal error code
+ message: `Bad request` (string, required) - Human readable error description (non-localized)
+ severity (enum, required)
    + `ERROR` - Critical error, execution cannot continue. This MUST be indicated also by appropriate HTTP status code
    + `WARN` - Non-critical error, execution can continue but further user interaction is advisable. This MIGHT be indicated also by appropriate HTTP status code
    + `INFO` - Information only, execution can continue without user interaction
+ attribute: `Client.addresses[1].streetNumber` (string, optional) - JSON path of request attribute that caused the error (if applicable)
+ ticketId: `UAT1:AMS:20160516-091658.450:45e4` (string, optional) - Internal ticket ID, used for error backtracking

## Errors (object)
+ errors (array[Error], fixed-type, required) - Array with errors

## Amount (object)
+ `value`: 13300 (number, required) - Amount in minor units (13300 represents 133) [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217)
+ `currency`: `CZK` (string, required) - Amount currency [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217). Only local currency is allowed (CZK in Czech Republic and EUR in Slovakia).

## File (object)
+ `filename`: `iphone6s.jpg` (string, required) - File name.
+ One Of
    + `url`: `https://i.cdn.nrholding.net/32523771/2000/2000/iphone6s.jpg` (string, required) - File URL (full).
    + `content`: `RmlsZSBjb250ZW50cy4gwq9cXyjjg4QpXy/Crw==` (string, required) - File content (Base64 encoded, maximum size of encoded string is 500kB)


## KeyValue (object)
+ `key`: `property` (string, required) - Key
+ `value`: `value` (string, required) - Value

## BankAccount (object)
+ type (enum, required) - Account type
    + `IBAN`
    + `NATIONAL`
+ iban (AccountIBAN, optional) - Bank account number in IBAN format. REQUIRED for `IBAN` type
+ national (AccountNational, optional) - Bank account number in national format. REQUIRED for `NATIONAL` type

## AccountIBAN (object)
+ iban: `CZ6508000000192000145399` (string, required) - Account number in IBAN format

## AccountNational (object)
+ prefix: `000000` (string, optional) - Account number prefix. For domestic accounts, this will be specified in national format.
+ accountNumber: `1235335010` (string, required) - Account number. For domestic accounts, this will be specified in national format.
+ bankCode: `3030` (string, required) - For domestic accounts, bank code in national format

## PhoneNumber (object)
+ number: `+420123456789` (string, required) - Phone number (including country code)

## PartnerLogin (object)
Partner login credentials

### Properties
+ `username`: `partner` (string, required) - Partner username
+ `password`: `partnerSecretPassword` (string, required) - Partner secret password

## PartnerLoginResult (object)
Authenticated partner access token

### Properties
+ `accessToken`: `TokenForPartnerTokenForPartnerTokenForPartnerTokenForPartner` (string, required) - Access token
+ `expiresIn`: 7200 (number) - Token validity remaining time (in seconds)

## TokenCodeRequest (object)
+ `grant_type` (enum, required) - Grant flow type, only `authorization_code` and `refresh_token` is supported
    + `authorization_code` - use to exchange code for access token
    + `refresh_token` - can be used to get new access token instead of forcing user to login again
+ `client_id`: `my_app_id` (string, required) - `client_id` parameter of partner's application, received at application registration
+ `client_secret`: `my_app_secret` (string, required) - `client_secret` parameter of partner's application, received at application registration
+ One Of
    + `code`: `12254a1124` (string, required) - Authorization code, received from authorization server
    + `refresh_token`: `12254a1124` (string, required) - Refresh token, received from authorization server

## TokenResponse (object)
+ `refresh_token`: `7dbadd74c434439db4fc9b2bbf8cabb3` (string, optional) - refresh token, if supported
+ `token_type`: `bearer` (string, required) - token type. Always "bearer".
+ `access_token`: `ccafe62cbce645ce95b2acce839f4acc` (string, required) - access token, to be included in API request
+ `expires_in`: 7200 (number, required) - access token validity, in seconds